.country-table-header {
    display: flex;
    align-items: center;
    padding: 8px 0;
    justify-content: space-between;

    .header-cell {
        font-weight: 700;

        &.flag { flex: 0 0 50px; }
        &.name { flex: 1 0 40%; }
        &.population { flex: 0 0 20%; }
    }
}
