<div class="content">
  <h1 class="region primary-fg">Europe</h1>

  <ng-container *ngIf="(loading$ | async)">
    Loading...
  </ng-container>

  <ng-container *ngIf="(error$ | async) && !(loading$ | async)">
    Error
  </ng-container>

  <ng-container *ngIf="!(loading$ | async) && !(error$ | async)">
    <cnt-countries-table [countries]="countries$ | async"></cnt-countries-table>
  </ng-container>


  <cnt-mobile-toolbar [actions]="toolbarActions" (actionClicked)="handleToolbarActions($event)"></cnt-mobile-toolbar>
  <cnt-sidebar (closing)="closeSidebar()" [outOfView]="!showHideBar" position="bottom"
    [template]="templateToShowInSidebar">
  </cnt-sidebar>
</div>

<ng-template #sort>
  <cnt-sort-form (submitted)="onSortChosen($event)"></cnt-sort-form>
</ng-template>

<ng-template #filter>
  <cnt-filter-form (submitted)="onFilterChosen($event)"></cnt-filter-form>
</ng-template>
