<form [formGroup]="sortingForm" (ngSubmit)="onSubmit()" class="sorting-form">
  <div>
  </div>
  <div class="sort-row">
    <div class="radio-graphic-button half">
      <input type="radio" id="type-name" formControlName="type" value="name">
      <label class="sort-label" for="type-name">
        <fa-icon [icon]="charIcon"></fa-icon>
        Name
      </label>
    </div>
    <div class="radio-graphic-button half">
      <input type="radio" id="type-population" formControlName="type" value="population">
      <label class="sort-label" for="type-population">
        <fa-icon [icon]="populIcon"></fa-icon>
        Population
      </label>
    </div>
  </div>
  <div class="sort-row">
    <div class="radio-graphic-button half">
      <input type="radio" id="order-asc" formControlName="order" value="ASC">
      <label class="sort-label" for="order-asc">
        <fa-icon [icon]="ascIcon"></fa-icon>
        Asc
      </label>
    </div>
    <div class="radio-graphic-button half">
      <input type="radio" id="order-desc" formControlName="order" value="DESC">
      <label class="sort-label" for="order-desc">
        <fa-icon [icon]="descIcon"></fa-icon>
        Desc
      </label>
    </div>
  </div>

  <div class="action-row">
    <button type="submit" class="primary-btn apply-sort">Sort</button>
  </div>
</form>
