<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="filter-form">
  <div class="filter-row">
    <div class="radio-graphic-button third">
      <input type="radio" id="global" formControlName="region" value="Global">
      <label class="filter-label" for="global">
        <fa-icon [icon]="globalIcon"></fa-icon>
        Global
      </label>
    </div>
    <div class="radio-graphic-button third">
      <input type="radio" id="europe" formControlName="region" value="Europe">
      <label class="filter-label" for="europe">
        <fa-icon [icon]="europeIcon"></fa-icon>
        Europe
      </label>
    </div>
    <div class="radio-graphic-button third">
      <input type="radio" id="asia" formControlName="region" value="Asia">
      <label class="filter-label" for="asia">
        <fa-icon [icon]="asiaIcon"></fa-icon>
        Asia
      </label>
    </div>
  </div>
  <div class="filter-row">
    <div class="radio-graphic-button third">
      <input type="radio" id="africa" formControlName="region" value="Africa">
      <label class="filter-label" for="africa">
        <fa-icon [icon]="africaIcon"></fa-icon>
        Africa
      </label>
    </div>
    <div class="radio-graphic-button third">
      <input type="radio" id="americas" formControlName="region" value="Americas">
      <label class="filter-label" for="americas">
        <fa-icon [icon]="americasIcon"></fa-icon>
        Americas
      </label>
    </div>
    <div class="radio-graphic-button third">
      <input type="radio" id="oceania" formControlName="region" value="Oceania">
      <label class="filter-label" for="oceania">
        <fa-icon [icon]="oceaniaIcon"></fa-icon>
        Oceania
      </label>
    </div>
  </div>

  <div class="action-row">
    <button type="submit" class="primary-btn apply-filter">Filter</button>
  </div>
</form>
